* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #d7cace;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
}

/* Envelope */
#envelope-container {
  text-align: center;
  cursor: pointer;
}

#envelope {
  width: 220px;
}

/* Letter */
#letter-container {
  display: none;
}

.letter-window {
  background: white;
  padding: 25px;
  border-radius: 20px;
  width: 320px;
  text-align: center;
}

/* Images */
.step-img,
#question-slide,
#final-slide {
  display: none;
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.8s ease;
}

.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.final-gif {
  width: 220px;
  margin-bottom: 15px;
}

.btn {
  width: 90px;
  margin: 10px;
  cursor: pointer;
}




