* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #d7cace;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

/* Envelope */
#envelope-container {
  text-align: center;
  cursor: pointer;
}

#envelope {
  width: 220px;
}

#envelope-container p {
  margin-top: 10px;
  font-size: 18px;
}

/* Letter Screen */
#letter-container {
  display: none;
}

.letter-window {
  background: #fff;
  padding: 25px;
  border-radius: 20px;
  width: 320px;
  text-align: center;
  animation: popIn 0.6s ease;
}

/* Step images */
.step-img {
  width: 230px;
  display: none;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.step-img.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* Final content */
#final-content {
  display: none;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

#final-content.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

#final-content h1 {
  margin-bottom: 15px;
  font-family: 'Pixelify Sans', cursive;
}

/* Buttons */
#letter-buttons {
  margin: 15px 0;
}

.btn {
  width: 90px;
  margin: 10px;
  cursor: pointer;
}

/* Animation */
@keyframes popIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


